<div class="mx-auto px-2 my-5 md:py-2 lg:px-8 lg:py-0">
  <div class="flex flex-col md:flex-row items-center gap-9 md:gap-18 lg:gap-36">
    <div class="left w-full md:w-[50%] flex flex-col gap-3">
      <h2 class="text-black text-4xl font-bold">Our Story</h2>
      <p class="text-lg">
        We are a team of five members from the Faculty of Computers and
        Artificial Intelligence at Benha University, united by our shared
        interest in technology and innovation.This project, a collaborative
        endeavor, is built upon three core pillars: the "Try It" feature,
        Sentiment Analysis, and the Recommendation System, which form the
        foundation of our e-commerce platform, 'StyleHub'.
      </p>
      <p class="text-lg">
        The "Try It" functionality allows users to upload a photo and visualize
        how products look on them, leveraging artificial intelligence to create
        a personalized and interactive shopping experience. Sentiment Analysis
        plays a crucial role by analyzing customer feedback to gauge
        satisfaction and improve service quality, ensuring that user opinions
        shape the platform's evolution. Meanwhile, the Recommendation System
        uses advanced algorithms to suggest tailored product options based on
        individual preferences, enhancing user engagement and satisfaction.
      </p>
    </div>
    <div class="right w-full md:w-[50%]">
      <img loading="lazy" src="./assets/about.png" alt="" loading="lazy" />
    </div>
  </div>
</div>

<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-black">
        Our Team
      </h2>
      <p class="font-normal text-gray-400 lg:mb-16 sm:text-xl">
        Meet the talented individuals behind our success. Our team is dedicated
        to building innovative, high-quality solutions with expertise and
        passion.
      </p>
    </div>
    <div class="drop-shadow-[0_0_10px_var(--main-color)]">
      <div
        class="flex flex-col sm:flex-row my-5 gap-18 items-center justify-center"
      >
        <!-- Member #1 Shady -->
        <div class="place-self-center px-6 sm:px-6 lg:px-4">
          <div class="flex flex-col justify-center items-center">
            <!-- Avatar -->
            <img
              loading="lazy"
              class="w-[150px] h-[200px] object-cover rounded-[15px]"
              src="./assets/Shady.jpg"
            />
            <!-- Details -->
            <div class="text-center mt-6">
              <!-- Name -->
              <h1 class="text-gray-900 text-xl font-bold mb-2">
                Shady Mohamed
              </h1>

              <!-- Title -->
              <div class="text-gray-700 font-light mb-4">Backend Developer</div>

              <!-- Social Icons -->
              <div class="flex items-center justify-center gap-5 mb-4">
                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/shady.m.elsayed.2025"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-facebook-f"
                  ></i>
                </a>
                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/in/shady-mohamed-122437262/"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-linkedin-in"
                  ></i>
                </a>
                <!-- Github -->
                <a
                  href="https://github.com/Shady-Mo"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-github"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Member #2 Me-->
        <div class="place-self-center px-6 sm:px-6 lg:px-4">
          <div class="flex flex-col justify-center items-center">
            <!-- Avatar -->
            <img
              loading="lazy"
              class="w-[150px] h-[200px] object-cover rounded-[15px]"
              src="./assets/me.jpg"
            />
            <!-- Details -->
            <div class="text-center mt-6">
              <!-- Name -->
              <h1 class="text-gray-900 text-xl font-bold mb-2">
                Mohamed Tarek
              </h1>

              <!-- Title -->
              <div class="text-gray-700 font-light mb-4">
                Frontend Developer
              </div>

              <!-- Social Icons -->
              <div class="flex items-center justify-center gap-5 mb-4">
                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/neyamrx3"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-facebook-f"
                  ></i>
                </a>
                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/in/mo7amedtarek/"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-linkedin-in"
                  ></i>
                </a>
                <!-- Github -->
                <a
                  href="https://github.com/Motarek175"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-github"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Member #3 Mohamed-->
        <div class="place-self-center px-6 sm:px-6 lg:px-4">
          <div class="flex flex-col justify-center items-center">
            <!-- Avatar -->
            <img
              loading="lazy"
              class="w-[150px] h-[200px] object-cover rounded-[15px]"
              src="./assets/mohamedAbdullah.png"
            />
            <!-- Details -->
            <div class="text-center mt-6">
              <!-- Name -->
              <h1 class="text-gray-900 text-xl font-bold mb-2">
                Mohamed Abdullah
              </h1>

              <!-- Title -->
              <div class="text-gray-700 font-light mb-4">Backend Developer</div>

              <!-- Social Icons -->
              <div class="flex items-center justify-center gap-5 mb-4">
                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/profile.php?id=100014390409815"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-facebook-f"
                  ></i>
                </a>
                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/in/mohammed-abdalla-6031472ba/"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-linkedin-in"
                  ></i>
                </a>
                <!-- Github -->
                <a
                  href="https://github.com/Mohammed-AbdAllah01"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-github"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row my-5 gap-18 items-center justify-center"
      >
        <!-- Member #4 Nesma-->
        <div class="place-self-center px-6 sm:px-6 lg:px-4">
          <div class="flex flex-col justify-center items-center">
            <!-- Avatar -->
            <img
              loading="lazy"
              class="w-[150px] h-[200px] object-cover rounded-[15px]"
              src="./assets/nesma.jpg"
            />
            <!-- Details -->
            <div class="text-center mt-6">
              <!-- Name -->
              <h1 class="text-gray-900 text-xl font-bold mb-2">Nesma Ata</h1>
              <!-- Title -->
              <div class="text-gray-700 font-light mb-4">Backend Developer</div>
              <!-- Social Icons -->
              <div class="flex items-center justify-center gap-5 mb-4">
                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/nesma.ata.458277"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-facebook-f"
                  ></i>
                </a>
                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/in/nesma-ata-3820552a7/"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-linkedin-in"
                  ></i>
                </a>
                <!-- Github -->
                <a
                  href="https://github.com/Motarek175"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-github"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Member #5 Ola-->
        <div class="place-self-center px-6 sm:px-6 lg:px-4">
          <div class="flex flex-col justify-center items-center">
            <!-- Avatar -->
            <img
              loading="lazy"
              class="w-[150px] h-[200px] object-cover rounded-[15px]"
              src="./assets/ola1.jpg"
            />
            <!-- Details -->
            <div class="text-center mt-6">
              <!-- Name -->
              <h1 class="text-gray-900 text-xl font-bold mb-2">Ola Youssef</h1>

              <!-- Title -->
              <div class="text-gray-700 font-light mb-4">AI Developer</div>

              <!-- Social Icons -->
              <div class="flex items-center justify-center gap-5 mb-4">
                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/ola.youssef.5059"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-facebook-f"
                  ></i>
                </a>
                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/in/%D8%B9%D9%84%D8%A7-%D9%8A%D9%88%D8%B3%D9%81-b4abb5306/"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-linkedin-in"
                  ></i>
                </a>
                <!-- Github -->
                <a
                  href="https://github.com/Motarek175"
                  target="_blank"
                  class="flex rounded-full"
                >
                  <i
                    class="fa-brands text-xl opacity-50 hover:opacity-100 transition duration-300 fa-github"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
