<div
  class="mx-auto px-2 md:py-2 lg:px-8 lg:py-0 flex items-center flex-col md:flex md:flex-row gap-5"
>
  <div
    class="left flex flex-col md:flex-row items-center justify-around w-full my-5 p-6 transition-all duration-300"
  >
    <div
      class="call flex flex-col gap-4 p-6 w-full md:w-[45%] bg-white rounded-xl shadow-lg transform transition-all duration-300 hover:-translate-y-2 hover:shadow-xl border border-gray-100"
    >
      <div class="flex items-center gap-3">
        <i
          class="fa-solid fa-phone text-2xl bg-gradient-to-r from-[var(--main-color)] text-white rounded-full p-3 animate-pulse-slow"
        ></i>
        <p class="text-xl font-bold text-gray-800">Call Us</p>
      </div>
      <div class="text flex flex-col text-gray-600">
        <p class="text-sm md:text-base leading-relaxed">
          Reach out to us directly via whatsapp, and we will respond within 24
          hours.
        </p>
        <span class="font-semibold mt-3 text-lg text-[var(--main-color)]">
          Phone: +201050102929
        </span>
      </div>
    </div>

    <div
      class="write flex flex-col gap-4 p-6 w-full md:w-[45%] bg-white rounded-xl shadow-lg transform transition-all duration-300 hover:-translate-y-2 hover:shadow-xl border border-gray-100 mt-6 md:mt-0"
    >
      <div class="flex items-center gap-3">
        <i
          class="fa-solid fa-envelope text-2xl bg-gradient-to-r from-[var(--main-color)] text-white rounded-full p-3 animate-pulse-slow"
        ></i>
        <p class="text-xl font-bold text-gray-800">Write To Us</p>
      </div>
      <div class="text flex flex-col text-gray-600">
        <p class="text-sm md:text-base leading-relaxed">
          Reach out to us directly via email, and we will respond within 24
          hours.
        </p>
        <span class="font-semibold mt-3 text-lg text-[var(--main-color)]">
          Email: fcb6480&#64;gmail.com
        </span>
      </div>
    </div>
  </div>

  <!-- <div
    class="right w-full md:w-[50%] lg:w-[75%] shadow-2xl my-5 rounded-xl px-5 py-10"
  >
    <h2 class="capitalize font-bold text-2xl mb-5 text-center">
      feel free to contact us anytime
    </h2>
    <form>
      <div class="mx-0 mb-1 sm:mb-4">
        <input
          type="text"
          placeholder="Your Name*"
          class="mb-2 w-full rounded-md px-4 py-2 shadow-md bg-[#F5F5F5] outline-none focus:border-[var(--main-color)] focus:border"
          name="name"
          required
        />
      </div>
      <div class="mx-0 mb-1 sm:mb-4">
        <input
          type="email"
          id="email"
          autocomplete="email"
          placeholder="Your Email*"
          class="mb-2 w-full rounded-md px-4 py-2 shadow-md bg-[#F5F5F5] outline-none focus:border-[var(--main-color)] focus:border"
          name="email"
          required
        />
      </div>
      <div class="mx-0 mb-1 sm:mb-4">
        <textarea
          id="textarea"
          name="message"
          cols="30"
          rows="5"
          placeholder="Write your message..."
          class="mb-2 w-full rounded-md px-4 py-2 shadow-md bg-[#F5F5F5] outline-none focus:border-[var(--main-color)] focus:border"
          required
        ></textarea>
      </div>
      <div class="text-right">
        <button
          type="submit"
          class="w-fit bg-[var(--main-color)] cursor-pointer text-white px-6 py-3 font-xl rounded-md sm:mb-0"
        >
          Send Message
        </button>
      </div>
    </form>
  </div> -->
</div>
